<!--
|==========================================================================
| Geeklopers - Document HTML
|==========================================================================
|
| - Vista de Inicio
|
-->

<div class="view inicio" ng-controller="inicioController">

	<div class="container-fluid">
		<!-- <div class="row header">
			<div class="col-xs-12 ccs-title">
			</div>
		</div> -->

		<div class="row section">
			<div class="col-xs-12" >
				<div class="panel ccs-panel" style="padding-top: 15%; padding-bottom: 15%">
					<div class="row section text-center">
						<img src="images/logo-rojo.png" alt="Geeklopers - logo" style="width: 15%">
						<h2>Bienvenido</h2>
						<h4>Sistema administrativo de Capacitación Geeklopers.</h4>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
