<!--
|==========================================================================
| Geeklopers - Document HTML
|==========================================================================
|
| - Vista de tiposEventos
|
-->

<div class="view tiposEventos" ng-controller="tiposEventosController">

	<div class="container-fluid">
		<div class="row header">
			<div class="col-sm-6 ccs-title">
				<h2>Tipos de Eventos</h2>
				<ul>
					<li><span><a href="#/inicio">Inicio</a></span></li>
					<li><span> / Tipos de Eventos</span></li>
				</ul>
			</div>
			<div class="col-sm-6 ccs-buttons">
				<button class="btn btn-info" ng-click="actualizar()">
					<span ng-if="!cargando"><i class="fa fa-refresh fa-fw"></i> Actualizar</span>
					<span ng-if="cargando"><i class="fa fa-refresh fa-fw"></i> Cargando...</span>
				</button>
				<button ng-if="!consultor" class="btn btn-success" ng-click="agregar()"><i class="fa fa-plus fa-fw"></i> Crear nuevo</button>
			</div>
		</div>
		<div class="row tools-default">
			<div class="col-sm-6 search-default">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
					<input type="text" class="form-control" placeholder="Buscar tiposEventos..." ng-model="buscar" ng-change="buscartiposEventos()">
				</div>
			</div>
		</div>
		<br><br>

		<div class="row section">
			<div class="col-xs-12">
				<div class="panel ccs-panel">
					<div class="panel-heading">
						<h5>Listado</h5>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table">
								<thead>
									<th width="30"><i class="ti-user"></i></th>
									<th>Nombre</th>
									<th width="50"></th>
									<th width="50"></th>
									
								</thead>
								<tbody>
									<tr ng-repeat="tipoEvento in tiposEventos">
										<td><i class="ti-user"></i></td>										
										<td>[[ tipoEvento.detalle.vc_nombre ]]</td>
										<td ng-if="!consultor">
											<a ng-click = "editar(tipoEvento)" class="tooltip" >
												<i class="fa fa-pencil fa-fw"></i>
												<span class="tooltiptext">Editar</span>
											</a>
										</td>
										<td ng-if="!consultor">
											<a ng-click = "eliminar(tipoEvento.detalle)" class="tooltip" >
												<i class="fa fa-trash fa-fw"></i>
												<span class="tooltiptext">Eliminar</span>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>

</div>
