<!--
|==========================================================================
| Geeklopers - Document HTML
|==========================================================================
|
| - Vista de citas
|
-->

<div class="view citas" ng-controller="citasController">

	<div class="container-fluid">
		<div class="row header">
			<div class="col-sm-6 ccs-title">
				<h2>Citas</h2>
				<ul>
					<li><span><a href="#/inicio">Inicio</a></span></li>
					<li><span> / Citas</span></li>
				</ul>
			</div>
			<div class="col-sm-6 ccs-buttons">
				<button class="btn btn-info" ng-click="actualizar()">
					<span ng-if="!cargando"><i class="fa fa-refresh fa-fw"></i> Actualizar</span>
					<span ng-if="cargando"><i class="fa fa-refresh fa-fw"></i> Cargando...</span>
				</button>
				<button class="btn btn-success" ng-click="agregar()"><i class="fa fa-plus fa-fw"></i> Crear nuevo</button>
			</div>
		</div>
		<div class="row tools-default">
			<div class="col-sm-6 search-default">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
					<input type="text" class="form-control" placeholder="Buscar citas..." ng-model="buscar" ng-change="buscarCitas()">
				</div>
			</div>
		</div>
		<br><br>

		<div class="row section">
			<div class="col-xs-12">
				<div class="panel ccs-panel">
					<div class="panel-heading">
						<h5>Listado</h5>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table">
								<thead>
									<th width="30"><i class="ti-star"></i></th>
									<th>Nombre</th>
                  <th>Agenda</th>
									<th>Fecha</th>
									<th width="150"></th>
								</thead>
								<tbody>
									<tr ng-repeat="cita in citas">
										<td><i class="ti-star"></i></td>
										<td>[[ cita.vc_nombre ]]</td>
                    <td>[[ cita.agenda.vc_nombre ]]</td>
                    <td>[[ cita.dt_fecha | date ]]</td>
										<td>
											<a ng-click = "editar(cita)" class="tooltip" >
												<i class="fa fa-pencil fa-fw"></i>
												<span class="tooltiptext">Editar</span>
											</a>
											<a ng-click = "eliminar(cita)" class="tooltip" >
												<i class="fa fa-trash fa-fw"></i>
												<span class="tooltiptext">Eliminar</span>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
					<nav aria-label="Paginador de citas" class="text-center" ng-hide="total < totalMostrarPaginado">
						<ul class="pagination">
							<li class="page-item" ng-hide="anteriorUrl == null">
							<a class="page-link previous" nohref ng-click="cambiarPagina(anteriorUrl)" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
								<span class="sr-only">Previous</span>
							</a>
							</li>
							   <li class="page-item disabled" ng-show="anteriorUrl == null">
								<a class="page-link previous" nohref aria-label="Previous">
								  <span aria-hidden="true">&laquo;</span>
								  <span class="sr-only">Previous</span>
								</a>
							  </li>
							 <li ng-repeat="i in paginador(total) track by $index" ng-class="{ active: paginaActual == $index+1 }">
									 <a ng-click="consultar([[$index+1]])">[[ $index+1 ]]</a>
								 </li>
							  <li class="page-item" ng-hide="siguienteUrl == null">
								<a class="page-link next" nohref  ng-click="cambiarPagina(siguienteUrl)" aria-label="Next">
								  <span aria-hidden="true">&raquo;</span>
								  <span class="sr-only">Next</span>
								</a>
							  </li>
								<li class="page-item disabled" ng-show="siguienteUrl == null">
								<a class="page-link next" nohref aria-label="Next">
								  <span aria-hidden="true">&raquo;</span>
								  <span class="sr-only">Next</span>
								</a>
							  </li>
							</ul>
						  </nav>
			</div>
		</div>
	</div>

</div>
